name: CI
on:
  push:
    branches:
    - main
    tags:
    - "v*"
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: coursier/cache-action@v6.4
    - uses: coursier/setup-action@v1.3.0
    - name: Test
      run: ./scala-cli test . --cross --require-tests

  publish:
    needs: test
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: coursier/cache-action@v6.4
    - uses: coursier/setup-action@v1.3.0
    - name: Release
      run: ./scala-cli publish . --cross
      env:
        PUBLISH_USER: ${{ secrets.SONATYPE_USERNAME }}
        PUBLISH_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
        PUBLISH_SECRET_KEY: ${{ secrets.PGP_SECRET }}
        PUBLISH_SECRET_KEY_PASSWORD: ${{ secrets.PGP_PASSPHRASE }}
